<div class="grid-container">
    <div class="item1"><i class='fas fa-address-book'></i></div>
    <div class="item2"><i class='fas fa-address-book'></i></div>
    <div class="item3"><i class='fas fa-address-book'></i></div>  
    <div class="item4"><i class='fas fa-address-book'></i></div>
    <div class="item5"><i class='fas fa-address-book'></i></div>
    <div class="item6"><i class='fas fa-address-book'></i></div>
    <div class="item7"><i class='fas fa-address-book'></i></div>
    <div class="item8"><i class='fas fa-address-book'></i></div>  
    <div class="item9"><i class='fas fa-address-book'></i></div>
    <div class="item10"><i class='fas fa-address-book'></i></div>

  </div>